{% extends 'base_navbar.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cumbres - Villahermosa</title>
</head>
<body>
    
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <form method="get" class="d-flex" style="width: 60%;">
            <input type="text" name="m" class="form-control me-2" placeholder="Buscar por nombre" value="{{ query|default:'' }}">
            <button type="submit" class="btn btn-outline-primary">Buscar</button>
        </form>

        <!--<button type="submit" class="btn btn-link">Responsivas Alumnos</button>-->
        {% if user.is_superuser %}
        <a href="{% url 'responsivas_alumnos_pdf' %}" target="_blank" class="btn btn-link">Responsivas Alumnos</a>


        <a href="{% url 'responsivas_personal_pdf' %}" target="_blank" class="btn btn-link">Responsivas Personal</a>
        {% endif %}

        <!--<button type="submit" class="btn btn-link">Responsivas Personal</button>-->
        {% if perms.task.add_asignacion %}
        <a href="{% url 'crear_asignacion' %}" class="btn btn-primary">Agregar Asignación</a>
        {% endif %}
        
    </div>

    <div class="card shadow">
        <div class="card-body">
            <h4 class="card-title mb-3">Listado de Asignaciones</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-hover align-middle text-center">
                    <thead class="table-primary">
                        <tr>
                            <th>ID</th>
                            <th>Equipo</th>
                            <th>Asignado a</th>
                            <th>Tipo</th>
                            <th>Caja</th>
                            <th>Case</th>
                            <th>Cargador</th>
                            <th>Acuerdo</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asignacion in asignaciones %}
                        <tr>
                            <td>{{ asignacion.equipo.id_equipo}}</td>
                            <td>{{ asignacion.equipo.NumSerie }}</td>
                            <td>
                                {% if asignacion.alumno %}
                                {{ asignacion.alumno.nombre }}
                                {% else %}
                                {{ asignacion.personal.nombre }}
                                {% endif %}
                            </td>
                            <td>
                                {% if asignacion.alumno %}
                                Alumno
                                {% else %}
                                Personal
                                {% endif %}
                            </td>
                            <td>{% if asignacion.caja %}✔{% else %}✖{% endif %}</td>
                            <td>{% if asignacion.case %}✔{% else %}✖{% endif %}</td>
                            <td>{% if asignacion.cargador %}✔{% else %}✖{% endif %}</td>
                            <td>{% if asignacion.acuerdo_firmado %}✔{% else %}✖{% endif %}</td>
                            <td>{{ asignacion.fecha_asignacion|date:"d/m/Y" }}</td>
                            <td>
                                {% if perms.task.change_asignacion %}
                                <a href="{% url 'editar_asignacion' asignacion.id %}" class="btn btn-sm btn-warning">Editar</a>
                                {% endif %}

                                {% if perms.task.delete_asignacion %}
                                <a href="{% url 'eliminar_asignacion' asignacion.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                                {% endif %}
                                
                                {% if user.is_superuser %}
                                    {% if asignacion.personal %}
                                        <a href="{% url 'responsiva_personal' asignacion.id %}" target="_blank" class="btn btn-outline-info">Responsiva PDF</a>
                                {% elif asignacion.alumno %}
                                        <a href="{% url 'responsiva_alumno' asignacion.id %}" target="_blank" class="btn btn-outline-info">Responsiva PDF</a>
                                    {% endif %}
                                {% endif %}

                            </td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="9">No hay asignaciones registradas.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>
{% endblock %}