{% extends 'base_navbar.html' %}

{% block content %}

    <div class="container mt-5 d-flex justify-content-center">

        <div class="card shadow p-4 shadow-lg text-center" style="width: 100%; max-width: 500px;">
            <h5 class="text-danger mb-3">Eliminar Alumno</h5>
            <p>¿Estás seguro de que deseas eliminar a <strong>{{ alumno.nombre }}</strong>?</p>

            <form method="post">
                {% csrf_token %}

                <div class="d-flex justify-content-between">
                    <a href="{% url 'alumnos' %}" type="button" class="btn btn-outline-success">Cancelar</a>
                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                </div>
                
            </form>

        </div>
        
    </div>


    <!--<div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow-lg text-center" style="width: 30rem;">
            <h3 class="text-danger mb-3">Eliminar Alumno</h3>
            <p>¿Estás seguro de que deseas eliminar a <strong>{{ alumno.nombre }}</strong>?</p>
            <form method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-between">
                    <a href="{% url 'alumnos' %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>-->
    
{% endblock %}